services:
  web:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - "8000"

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-metrodb}
      POSTGRES_USER: ${POSTGRES_USER:-metrouser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password123}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  nginx:
    build: ./nginx
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - static_volume:/static

volumes:
  db_data:
  static_volume:
